<p id="notice"><%= notice %></p>

<h1>Monthly We</h1>

<% @posts.each do |post| %>
  <div class="post well">
    <p class="post-content"><%= post.content %></p>
    <p class="post-votes"><%= post.votes_count %></p>
    <p class="post-user"><%= post.user_id %></p>
    <p class="post-date"><%= time_ago_in_words(post.created_at) %> ago</p>
  </div>
  <% post.child_posts.order('votes_count desc').each do |comment| %>
    <%= render partial: 'comment', locals: {comment: comment} %>
  <% end %>
<% end %>

<%= link_to 'New Post', new_post_path %>
